In [1]:
import pandas as pd
import numpy as np
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

# Importing dataset. 
# Please refer to the 【Data】 part after the code for the data file.
data = pd.read_csv("career_data.csv") 

# Convert categorical variable to numeric
data["985_cleaned"]=np.where(data["985"]=="Yes",1,0)
data["education_cleaned"]=np.where(data["education"]=="bachlor",1,
                                  np.where(data["education"]=="master",2,
                                           np.where(data["education"]=="phd",3,4)
                                          )
                                 )
data["skill_cleaned"]=np.where(data["skill"]=="c++",1,
                                  np.where(data["skill"]=="java",2,3
                                          )
                                 )
data["enrolled_cleaned"]=np.where(data["enrolled"]=="Yes",1,0)

In [2]:
data

,no,985,education,skill,enrolled,985_cleaned,education_cleaned,skill_cleaned,enrolled_cleaned
0,1,Yes,bachlor,C++,No,1,1,3,0
1,2,Yes,bachlor,Java,Yes,1,1,3,1
2,3,No,master,Java,Yes,0,2,3,1
3,4,No,master,C++,No,0,2,3,0
4,5,Yes,bachlor,Java,Yes,1,1,3,1
5,6,No,master,C++,No,0,2,3,0
6,7,Yes,master,Java,Yes,1,2,3,1
7,8,Yes,phd,C++,Yes,1,3,3,1
8,9,No,phd,Java,Yes,0,3,3,1
9,10,No,bachlor,Java,No,0,1,3,0

In [3]:
# Split dataset in training and test datasets
X_train, X_test = train_test_split(data, test_size=0.1, random_state=int(time.time()))

# Instantiate the classifier
gnb = GaussianNB()
used_features =[
    "985_cleaned",
    "education_cleaned",
    "skill_cleaned"
]

# Train classifier
gnb.fit(
    X_train[used_features].values,
    X_train["enrolled_cleaned"]
)
y_pred = gnb.predict(X_test[used_features])

# Print results
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
      .format(
          X_test.shape[0],
          (X_test["enrolled_cleaned"] != y_pred).sum(),
          100*(1-(X_test["enrolled_cleaned"] != y_pred).sum()/X_test.shape[0])
))

Number of mislabeled points out of a total 1 points : 0, performance 100.00%